<h1>Calculate the monthly payment</h1>

<form action="/payment/results">
  <label for="bear">APR</label>
  <input id="bear" type="text" name="user_apr">

  <div>

  <label for="tiger">Number of years</label>
  <input id="tiger" type="text" name="years">

  <div>

  <label for="mouse">Principal</label>
  <input id="mouse" type="text" name="principal">

  <div>

  <button>Calculate monthly payment</button>

</form>
