<h1>Pick random number</h1>

<form action="/random/results">
  <label for="monkey">Minimum</label>
  <input id="monkey" type="text" name="min">

  <div>

  <label for="frog">Maximum</label>
  <input id="frog" type="text" name="max">

  <div>

  <button>Pick random number</button>

</form>
